{%- set ns = namespace(to_provisione=[], stalled=[]) -%}

{%- for vm in vmware_provisioner_inventory_vms -%}
    {%- if vm.uuid is defined -%}
        {%- set vm_facts = vmware_provisioner_vms_detailed_facts
                          | selectattr("uuid", "defined")
                          | selectattr("uuid", "equalto", vm.uuid)
                          | list -%}
    {%- elif vm.name is defined
             and vm.folder is defined -%}
        {%- set vm_facts = vmware_provisioner_vms_detailed_facts
                          | selectattr("hw_name", "defined")
                          | selectattr("hw_folder", "defined")
                          | selectattr("hw_name", "equalto", vm.name)
                          | selectattr("hw_folder",
                                           "search",
                                           "^.*/vm"
                                           + vm.folder
                                             | regex_replace("^.*/vm/(.*)", "\\1")
                                           + "$")
                          | list -%}
    {%- endif %}

    {%- if vm_facts | length == 1 -%}
        {%- set vm_exists = true -%}
        {%- set vm_vmware_annotation = vm_facts.0.annotation | from_yaml -%}
        {%- set vm_vmware_power_status = vm_facts.0.hw_power_status | lower -%}
        {%- set vm_ansible_state = vm_vmware_annotation.ansible_state | default("provisioned") | lower -%}
        {%- set vm_ansible_creation_date = vm_vmware_annotation.creation_date | to_datetime -%}
        {%- set vm_ansible_current_date = "%Y-%m-%d %H:%M:%S" | strftime(ansible_facts.date_time.epoch) | to_datetime -%}
        {%- set vm_ansible_seconds_elapsed = (vm_ansible_current_date - vm_ansible_creation_date).total_seconds() -%}
    {%- else -%}
        {%- set vm_exists = false -%}
    {%- endif %}

    {%- if not vm_exists
           or (vm_vmware_power_status == "poweredoff"
               and vm_ansible_state == "provisioning") -%}
        {%- set ns.to_provisione = ns.to_provisione + [ vm ] -%}
    {%- elif vm_exists
             and vm_vmware_power_status == "poweredon"
             and (vm_ansible_seconds_elapsed > host_provisioner_stalled_timeout
                  or host_provisioner_force_stalled_removal) -%}
        {%- set ns.stalled = ns.stalled + [ vm ] -%}
        {%- set ns.to_provisione = ns.to_provisione + [ vm ] -%}
    {%- endif -%}
{%- endfor -%}

{%- if ns.to_provisione | length > 0 -%}
to_provisione:{{ "\n" }}
    {%- for vm in ns.to_provisione -%}
        - {{ vm | to_json }}{{ "\n" }}
    {%- endfor -%}
{%- else -%}
to_provisione: []{{ "\n" }}
{%- endif -%}

{%- if ns.stalled | length > 0 -%}
stalled:{{ "\n" }}
    {%- for vm in ns.stalled -%}
        - {{ vm | to_json }}{{ "\n" }}
    {%- endfor -%}
{%- else -%}
stalled: []
{%- endif -%}
