{%- set ns = namespace(to_provisione=[], stalled=[]) -%}
{%- set host_provisioner_vmware_server = hostvars.localhost.host_provisioner_vmware_server -%}

{%- for vm in host_provisioner_vmware_vms_to_manage -%}
    {%- if vm.uuid is defined -%}
        {%- set vm_facts = hostvars[host_provisioner_vmware_server].vmware_provisioner_vms_detailed_facts
                           | selectattr("uuid", "defined")
                           | selectattr("uuid", "equalto", vm.uuid)
                           | list -%}
    {%- elif vm.name is defined
             and vm.folder is defined -%}
        {%- set vm_facts = hostvars[host_provisioner_vmware_server].vmware_provisioner_vms_detailed_facts
                           | selectattr("hw_name", "defined")
                           | selectattr("hw_folder", "defined")
                           | selectattr("hw_name", "equalto", vm.name)
                           | selectattr("hw_folder", "search", vm.folder)
                           | list -%}
    {%- endif %}

    {%- if vm_facts | length == 1 -%}
        {%- set vm_exists = true -%}
        {%- set vm_ansible_current_date = "%Y-%m-%d %H:%M:%S" | strftime(ansible_facts.date_time.epoch) | to_datetime -%}
        {%- set vm_vmware_annotation = vm_facts.0.annotation | regex_replace("'(.*)'", "\\1") | from_yaml -%}
        {%- set vm_vmware_power_status = vm_facts.0.hw_power_status | lower -%}

        {%- if vm_vmware_annotation is mapping -%}
          {%- set vm_ansible_state = vm_vmware_annotation.ansible_state | default("provisioned") | lower -%}
          {%- set vm_ansible_creation_date = vm_vmware_annotation.creation_date | to_datetime -%}
        {%- else -%}
          {%- set vm_ansible_state = "provisioned" -%}
          {%- set vm_ansible_creation_date = vm_ansible_current_date -%}
        {%- endif -%}

        {%- set vm_ansible_seconds_elapsed = (vm_ansible_current_date - vm_ansible_creation_date).total_seconds() -%}
    {%- else -%}
        {%- set vm_exists = false -%}
    {%- endif %}

    {%- if not vm_exists -%}
        {%- set ns.to_provisione = ns.to_provisione + [ vm ] -%}
    {%- elif vm_exists
             and vm_ansible_state != "provisioned"
             and (vm_ansible_seconds_elapsed > host_provisioner_stalled_timeout
                  or host_provisioner_force_stalled_removal) -%}
        {%- set ns.stalled = ns.stalled + [ vm ] -%}
        {%- set ns.to_provisione = ns.to_provisione + [ vm ] -%}
    {%- endif -%}
{%- endfor -%}

{%- if ns.to_provisione | length > 0 -%}
to_provisione:{{ "\n" }}
    {%- for vm in ns.to_provisione -%}
        - {{ vm | to_json }}{{ "\n" }}
    {%- endfor -%}
{%- else -%}
to_provisione: []{{ "\n" }}
{%- endif -%}

{%- if ns.stalled | length > 0 -%}
stalled:{{ "\n" }}
    {%- for vm in ns.stalled -%}
        - {{ vm | to_json }}{{ "\n" }}
    {%- endfor -%}
{%- else -%}
stalled: []
{%- endif -%}
