{% set ns = namespace(found=false) %}

{% for instance in hostvars[host_provisioner_vmware_server].vmware_provisioner_vms_setup_result.results
   | map(attribute="instance")
   | list %}
{% set ns.found = true %}
"{{ instance.hw_name }}": "{{ instance.hw_eth0.macaddress }}"
{% endfor %}

{% if not ns.found %}
{}
{% endif %}
