{% set ns = namespace(found=false) %}
{% set host_provisioner_vmware_server = hostvars.localhost.host_provisioner_vmware_server %}

{% for instance in hostvars[host_provisioner_vmware_server].vmware_provisioner_vms_setup_result.results
   | map(attribute="instance")
   | list %}
{% set ns.found = true %}
{% set interface_numbers = instance.keys()
                           | select("search", "^hw_eth[0-9]+$")
                           | map("regex_replace", "^hw_eth([0-9]+)$", "\\1")
                           | map("int")
                           | list
                           | sort %}

{% set interface_keys = interface_numbers
                        | map("regex_replace", "^", "hw_eth")
                        | list %}

"{{ instance.hw_name }}": {{ interface_keys
                             | map('extract', instance, 'macaddress')
                             | list
                             | to_json }}
{% endfor %}

{% if not ns.found %}
{}
{% endif %}
