{%- set host_provisioner_vmware_server = hostvars.localhost.host_provisioner_vmware_server %}

{%- for vm in hostvars.localhost.host_provisioner_vmware_vms_filtered.to_provisione -%}
{{- vm.name }}:{{ "\n" }}
{%- for interface in hostvars[vm.name].network_interfaces -%}
  {%- if interface.macaddress | default("") | length == 0 -%}
    {%- set mac = {"macaddress": hostvars.localhost.host_provisioner_vmware_macs[vm.name][loop.index0] | lower} -%}
  {%- else -%}
    {%- set mac = {"macaddress": interface.macaddress | lower} -%}
  {%- endif -%}
  - {{ interface | combine(mac) | to_json }}{{ "\n" }}
{%- endfor -%}
{% else %}
[]
{%- endfor -%}
