{%- set ns = namespace(vms=[]) -%}

{%- for vm in hostvars.localhost.host_provisioner_vmware_vms_filtered.to_provisione -%}
    {%- set ns_vm = namespace(vmware_vm_networks=[]) -%}
    {%- set network_interfaces = hostvars.localhost.host_provisioner_vmware_nics[vm.name] -%}

    {%- for vmware_network in vm.networks | default([]) -%}
        {%- if vmware_network.start_connected is undefined -%}
          {%- set vmware_network_connected = vmware_network
                                             | combine({"start_connected": true}) -%}
          {%- set ns_vm.vmware_vm_networks = ns_vm.vmware_vm_networks
                                             + [vmware_network_connected] -%}
        {%- else -%}
          {%- set ns_vm.vmware_vm_networks = ns_vm.vmware_vm_networks
                                             + [vmware_network] -%}
        {%- endif -%}
    {%- endfor -%}

    {%- set ns.vms = ns.vms
                     + [ (vm | combine({ "networks": ns_vm.vmware_vm_networks })) ] -%}
{%- endfor -%}

{%- if ns.vms | length > 0 -%}
  {{- ns.vms | to_json -}}
{%- else -%}
  []
{%- endif -%}
